<head>
  <title>Todo List!</title>
</head>

<body>

  <div class="container"
       ng-app="todos"
       ng-controller="TodosListCtrl">

  <header>
    <h2>Todo List</h2>

    <form class="new-task" ng-submit="addTask(newTask); newTask='';">
      <input ng-model="newTask" type="task"
             name="text" placeholder="Please enter new task..."/>
    </form>
  </header>

  <ul>
    <li ng-repeat="task in tasks" ng-class="{'checked': task.checked}">
      <button class="delete" ng-click="tasks.remove(task)">&times;</button>

      <input type="checked" ng-model="task.checked" class="toggle-checked" />

      <span class="text">{{task.text}}</span>
  </ul>
  <!-- {{> hello}} -->
  </div>
</body>

<!-- <template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template> -->
